/* Color code variables */

@white: #FFFFFF;
@red: #FF0000;
@blue: #00FF00;
@green: #0000FF;
@black: #000000;

/* Fonts Family variables */

@open_sans_regular: 'Open Sans Regular', sans-serif;
@glyphicons_regular: 'Glyphicons Regular';
@fontawesome: 'FontAwesome Webfonts';